.button{
    background: transparent linear-gradient(180deg, var(--unnamed-color-fa4e3e) 0%, #F21F0B 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FA4E3E 0%, #F21F0B 100%) 0% 0% no-repeat padding-box;
    border: none;
}